.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.project-listing {
  background-color: #3c6894;
  min-height: 15rem;
  box-shadow: -4px 4px 1px 0px rgba(255, 255, 255, 0.5);
}

.project-listing {
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  /* width: 60%; */
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .project-link-pic {
    display: none;
  }

  .project-listing {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 80%;
  }

  .deployed-app-link {
    border-style: groove;
    border-color: black;
    border-radius: 5%;
    width: 70%;
    background-color: slategray;
  }

  .jumbotron {
    margin: 0 auto;
    min-height: 26rem;
  }

  .project-description {
    margin: 0 auto;
  }

  .github-link {
    margin: 0 auto;
  }
}
