footer {
    position : fixed;
    bottom: 0;
    height: 5vh;
    width:100%;
    z-index: 1;
    background-color: gray;
    margin-top:2%;
    padding-top: .5rem;
    }

a {
    padding-left: 1rem;
    padding-right: 1rem;
    color: lightgray
}