footer {
    position : fixed;
    bottom: 0;
    min-height: 5vh;
    width:100%;
    z-index: 1;
    background-color: gray;
    margin-top:2%;
    padding-top: .5rem;
    }

a {
    padding-left: 1rem;
    padding-right: 1rem;
    color: lightgray
}

@media only screen and (max-width: 768px) {
footer {
    align-items: center;
    flex-direction: column;
}
.copyright-wrapper {
    margin-bottom: 1rem;
}
}