/* both bc otherwise there was a white margin around it */
.card-body,
.card {
  background-color: grey;
}

#profile-pic {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  text-align: center;
  width: 80%;
}

#email-me-button {
  position: relative;
  text-align: center;
  width: 30%;
  color: rgb(28, 27, 32);
  font-weight: bold;
  margin: 0 auto;
  background-color: #3c6894;
  border-color: gray;
}

#email-me-button:hover {
  color: white;

}


.link-button {
  width: 50%;
  height: 75px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
  color: rgb(28, 27, 32);
  font-weight: bold;
  background-color: #3c6894;
  border-color: gray
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}