/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


body {
  background-color: #4e5964;
  /* color: white; */
  margin: 0px;
  padding: 0px;
}




.contact-me-form {

  width: 100%;
  height: 1000px;
  position: relative;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.embedResume {
  width: 100%;
  height: 1000px;
}

